	<footer id="footer">
		<div class="footer">
			<div class="footerTop">
				<a href="">移动版</a>
				<a href="">给我留言</a>
				<a href="">联系我们</a>
				<a class="sitemap">打赏支持</a>
				<a href="">现在有 10000 位访客在线</a>
			</div>
			<div class="footerLink">
				<div class="linkTitle">
					友情链接
					<span>
						<a href="">（申请）</a>
					</span>
				</div>
			</div>
			<div class="info">© copyright 2006-2017 白兰鸽. All rights reserved. 京ICP备66666888号</div>
		</div>
	</footer>
  </body>
</html>