<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <header>
<!--navBarWrap-->
<div class="navBarWrap">
<!--navBar-->
<div class="navBar">
	<nav>
		<a href="/">航歌 - 做最好的开发者知识平台</a>
	</nav>
	<!--loginArea-->
	<div class="loginArea">
        <a class="rFloat" href="./blog/cache/leaveword_1.html">留言</a><a class="rFloat" href="index.html">首页</a>              
	</div>
	<!--loginArea end-->
	<div class="clear"></div>
</div>
<!--navBar end-->
</div>
<!--navBarWrap end-->
<!--headerWrap-->
<div class="headerWrap">
	<div class="logo_search">    
        <div class="logo"><a href="/"><img src="./blog/images/logo.png" alt="航歌" width="260" height="55"></a></div>
        <form class="form_search" action="./blog/cache/search.php" id="searchform" method="get" onsubmit="return $.trim($('#search').val())!=''">
			<button type="submit" class="btn_search icon-search"><!--[if lt IE 8]>Go<![endif]--></button>
			<input id="search" name="key" type="search" class="text_search" value="" style="color: rgb(153, 153, 153);" placeholder="" onclick="this.placeholder=''">
		</form>	
		<div class="clear"></div>
	</div>
</div>
<!--headerWrap end-->

</header>
  </body>
</html>