<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>My Website</title>
  	<link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
	<header>
		<div class="navBarWrap">
			<div class="navBar" style="color: white">
				<a href="/">My first newbility website</a>
			</div>
			<div class="loginArea">
				<a href="">留言</a><a href="">首页</a>
			</div>
		</div>
	</header>
  </body>
</html>