<section class="wrap">
	<div class="leftWrap">
		<div class="crumbs">
			当前位置：
			<div class="crumbsCate">
				<a href="/">
					<span>首页</span>
				</a>
			</div>
		</div>
		<ul class="recruit_job" style="border-style:none;">
			<li class="job">
				<div class="job_name">
					<div class="ico_type_Original"></div>
					<h3 style="width: 554px;">
						<a target="_blank" class="detailLink" href="./detail_1755.html" style="color: rgb(51,51,51);">Swift开发入门（一）</a>
					</h3>
					<div class="time">2017-10-25</div>
					<div class="praise">
						<img src="/img/thumb_up.png" width="16" height="16">
					</div>
					<div class="click">1231</div>
				</div>
				<div class="job_info_box">
					<p>
						Swift是一门发展迅速的即将在未来替代OC的由苹果推出的新语言，语言简洁、功能强大，具有高级语言的所有特性，语言简洁、功能强大，具有高级语言的所有特性...
					</p>
				</div>
			</li>
		</ul>
		<ul class="pagination">
			<li class="pageup">
				<span><</span>
				<a href="/index.html" class="pageup">上一页</a>
			</li>
			<li>
				<a href="./ndex_more_1.html">1</a>
			</li>
			<li>
				<a href="./index_more_2.html" class="pageCurrent">2</a>
			</li>
			<li>
				<a href="./index_more_3.html">3</a>
			</li>
			<li>
				<a href="./index_more_3.html" class="pagedown">下一页</a>
				<span>></span>
			</li>
		</ul>
	</div>
