.navBarWrap {
	background-color: #333;
	width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    float: left;
}

.navBar {
    height: 32px;
    width: 50%;
    line-height: 32px;
    float: left;
}

.navBar a {
	color: #ccc;
	position: relative;
	left: 90px;
}

.navBar a:hover {
	color: #fff
}

.loginArea {
	width: 46%;
	height: 32px;
	right: 90px;
	float: left;
	line-height: 32px;
}

.loginArea a {
	float: right;
	margin-right: 30px;
	color: #ccc;
	left: 90px;
}

.loginArea a:hover {
	color: #fff
}




