.navBarWrap {
	background-color: #333;
	width: 100%;
	position: fixed;
	top: 0;
    left: 0;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
}

.navBar {
	padding: 0 40px;
    height: 32px;
    max-width: 1140px;
    margin: 0 auto;
    line-height: 32px
}

.navBar a {
	color: #ccc
}

.navBar a:hover {
	color: #fff
}

.loginArea {
	width: 35%;
	float: right;
	height: 32px;
	position: relative;
}

.loginArea a {
	height: 32px;
	text-align: right;
	margin-left: 9px;
	margin-right: 0;
	color: #ccc;
}

.loginArea a:hover {
	color: #fff
}




